@model ZooWebsite.Models.habitats

@{
    ViewData["Title"] = "Edit";
}

<style>
    div.container {
        background-color: #EEEEEE;
        border-radius: 10px;
        border-color: black;
        border-style: solid;
        border-width: 1px;
    }

    input::placeholder {
        font: 15px sans-serif;
        font-style: italic;
    }

    .newhabitat {
        position: absolute;
        left: 740px;
        top: 535px;
    }
</style>

<h1>Edit</h1>
<h4>Habitat</h4>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="habitat_name" class="control-label">Habitat Name</label>
                <input asp-for="habitat_name" class="form-control" placeholder="*Required field*" />
                <span asp-validation-for="habitat_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label">Description</label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label">Habitat Type</label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="daily_maintenance_costs" class="control-label">Daily Maintenance Costs</label>
                <input asp-for="daily_maintenance_costs" class="form-control" placeholder="*Required field*" />
                <span asp-validation-for="daily_maintenance_costs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }