@model IEnumerable<ZooWebsite.Models.items>

@{
    ViewData["Title"] = "Shop";
}

<head>
    <style>
        body {
            background-image: url(https://cdn.shopify.com/s/files/1/0536/6133/5723/products/EBF3CB_600x.png?v=1611602358),url(https://patch.com/img/cdn20/shutterstock/25866962/20220512/113433/styles/patch_image/public/shutterstock-1857369271-1___12113357732.jpg?width=1200);
            background-repeat: no-repeat, no-repeat;
            background-size: 60% 100%;
            background-position: left top, right top;
        }
    </style>

</head>
<body>

    <h1 style="font-family:Helvetica;  font-size:60px; text-align: left; color: black" ;>Buy Tickets</h1>
    <h1>Enter Quantity of Tickets</h1>


</body>


<div class="form">
    @foreach (var item in Model)
    {
    <h3>@Html.DisplayFor(modelItem => item.name)</h3>

    <h2>@Html.DisplayFor(modelItem => item.in_stock)</h2>

        
        
            <div class="form-group">
                <a asp-action="Checkout" asp-route-id="@item.id" class="btn btn-primary">Buy</a>
            </div>
        
    }


    <br />
    <br />

    <h2 style="font-style:italic; color:deeppink">@ViewBag.Result</h2>

</div>














