@model List<ZooWebsite.Models.animals>
@{
    ViewData["Title"] = "Our Animals";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body{
            font-size:large;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
        }
        .img {
            float: right;
            width: 70%;
            height: 70%;
            object-fit: cover;
            border: 10px solid white;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }


    </style>
</head>
<body>

    <h1>Meet Our Animals</h1>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="column">
                <div class="img">
                    <img src="@item.image_path" alt="@item.animal_name" style="width:100%" />
                </div>
            </div>
            <div class="column">
                <h3>@item.animal_name</h3>
                <p>@item.description</p>
                <hr size="20" color="green">
            </div>
        </div>
    }
</body>
</html>



